<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Andrew Berman Art &amp; Photography</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.icon-font.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
	<header>
		<h1>Andrew Berman Art &amp; Photography</h1>
	</header>
	<div id="menubar">
		<div id="center">
		<ul>
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/about" class="active">About</a></li>
			<li><a href="/art" class="active">Art</a></li>
			<li><a href="/photography" class="active">Photography</a></li>
			<li><a href="/contact" class="active">Contact</a></li>
		</ul>
		</div>
	</div>
	
	<div id="content">
		<div id="section">
			<div id="sub-header">About</div>
				
			<p>	
				The above visualization succinctly and cleverly displayed the shot data in an intuitive way. While it is difficult to 
				compare areas with relatively low numbers of shots, the goal of the visualization was to identify the major shot positions,
				in which it is successful. The use of depth and a basketball court-esque graphs neatly ties the graphic in with its
				theme and helps the viewer identify it as basketball-related. The luminance contrast is also very effective. The team 
				viewed this visualization as an example of a highly effective location visualization, and we emulated aspects of its
				design, such as luminance contrast.				
				A visualization of the final plays during the fourth quarter of the 2010 NFL Superbowl was one of the few location-based
				visualizations that displayed a feature our team wished to display in our visualization: player movements/routes throughout
				the game. While the Superbowl graphic uses an unsuccessful color scale, intuitively one who is familiar with the game
				knows that it shows a players' 'runs'. When designing our visualization, we endeavoured to replicate this NFL visualization's
				ease of identification of theme and data.
			</p>
		</div>
	</div>
		
</body>
</html>
