<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.css">
    <link rel="stylesheet" href="/static/vendor/jquery.alt-checkbox.icon-font.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
	<header>
		<h1>Andrew Berman Art &amp; Photography</h1>
	</header>
	<div id="menubar">
		<div id="center">
		<ul>
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/about" class="active">About</a></li>
			<li><a href="/art" class="active">Art</a></li>
			<li><a href="/photography" class="active">Photography</a></li>
			<li><a href="/contact" class="active">Contact</a></li>
		</ul>
		</div>
	</div>
	
	<div id="content">
		<div id="section">
			<div id="sub-header">About</div>
				<p>	
					Andrew Berman has always been fascinated by art and form. This fascination is not only evident
					in his professional life as an architect and urban designer based in Cape Town, South Africa, but in his
					two greatest passions: fine art and photography.
				</p>
				<p>
					Andrew most often paints life drawings, as he finds the body interesting and enjoys the challenge of illustrating
					it. Though Andrew has painted in both oils and watercolour, his favourite medium is pastels. Andrew has painted primarily
					with <a href="https://www.facebook.com/OBSartist/">The Artist's Collective</a>, a Cape Town community art group Andrew
					has supported, managed and developed for many years. This has cemented his place in the art community.
				</p>
				<p>
					Rarely without a camera, Andrew has long been fascinated by the camera and its ability to capture the world.
					While Andrew favours <a href="https://us.leica-camera.com/">Leica</a> cameras, he experiments with a wide variety
					of cameras in both black and white. Though he has not yet exhibited his work, as he has done with his life drawings,
					his rich collection of photographs is testament to his passion for the medium.
				</p>
		</div>
	</div>
		
</body>
</html>
